@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --index: calc(1vw + 1vh);
    --main-theme-color: #1c2738; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    color: rgb(226, 226, 226);
    font-style: italic;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    transition: transform 0.2s ease-in-out
}

#index_c1 {
    z-index: 10;
    background-color: var(--main-theme-color);
}

#index_c2 {
    z-index: 9;
    color: rgb(43, 43, 43);
    display: flex;
    flex-direction: row;
}

.slide_to_chat {
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.slide_to_chat img {
    width: 100%;
    filter: invert(1);
    transform: rotate(90deg)
}

.particle {
    /* background-color: white; */
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 5px hsl(0, 0%, 100%);
    transition: transform .5s, filter .05s, background .3s;
}

#circ {
    position: relative;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    min-width: max-content;
    min-height: max-content;
    transition: transform .2s;
}

.label {
    font-size: 30;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-top: 30px;
    text-align: center;
}

.circ_outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform .2s;
}

.mic {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 100;
    color: white;
    background-color: rgba(28, 39, 56, 0.492);
    border-radius: 50%;
}

.mic_img {
    filter: invert(1);
    width: 100%;
}

.chats {
    width: max-content;
    max-width: 300px;
    position: relative;
    height: 100vh;
    background-color: #f8f8f8;
    border-right: solid 1px rgb(213, 213, 213);
    text-overflow: ellipsis;
    overflow: visible;
    min-width: 60px;
    flex-shrink: 0
}

.chats .chat {
    padding: 15px 10px;
    width: 100%;
    min-width: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    border: solid 1px rgb(225, 225, 225);
    background-color: rgb(241, 241, 241);
    transition: background-color .1s ease-in-out;
    text-overflow: ellipsis;
}

.chats .active_chat {
    background-color: #c6d2e7;
}

.chats .chat p {
    width: 200px
}

.chats .chat .chat_image {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.chats .chat .chat_image img {
    width: 100%;
}

.chat_label {
    font-weight: bolder;
    font-size: 17px;
    color: #434343;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chat_cont {
    color: #797979;
    font-weight: light;
    font-size: 13px;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.messenger {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fcfcfc;
}

.messages {
    width: 100%;
    height: 100%;
    background-color: #fefefe;;
    border-radius: 10px;
    padding: 5px
}

.bottom {
    padding: 10px;
    height: 50px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sendbutton {
    background-color: var(--main-theme-color);
    border-radius: 50%;
    width: 35px;
    height: fit-content;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendbutton img {
    width: 100%;
    filter: invert(1);
}

.text_input {
    padding: 5px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: rgb(84, 84, 84);
    border: none;
    box-shadow: 0 0 2px var(--main-theme-color);
    margin: 5px;
}

.message {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 2px #1c2738;
    width: max-content;
    margin: 5px;
}

.my {
    background-color: #1c2738;
    color: white
}